## Project 1
"The pandas Series Object"

In [1]:
import pandas as pd

df=pd.read_csv(r'c:\Project 1.csv') 
df.head()

,city,alaska_ontime,alaska_delayed,amwest_ontime,amwest_delayed
0,Los Angeles,497,62,694,117
1,Phoenix,221,12,4840,415
2,San Diego,212,20,363,65
3,San Franscisco,503,102,320,129
4,Seatle,1841,305,201,61

## Summary Comparison

calculated the percent of Alaska Airlines flights that were delayed for each of the 5 destinations
The delayed flights divided by the total flights times 100 gives you the percent of total flights delayed.
The results of the calculation are set to a new column called alaska_delay_percent and amwest_delay_percent

In [2]:
alaska_delay_percent = pd.Series(df.alaska_delayed/(df.alaska_ontime + df.alaska_delayed)*100)
alaska_delay_percent

0    11.091234
1     5.150215
2     8.620690
3    16.859504
4    14.212488
dtype: float64

In [3]:
amwest_delay_percent = pd.Series(df.amwest_delayed/(df.amwest_ontime + df.amwest_delayed)*100)
amwest_delay_percent

0    14.426634
1     7.897241
2    15.186916
3    28.730512
4    23.282443
dtype: float64

## Conclusion
Based on the information, we can see that AMWest has a more significant percentage of delays compared to Alaska. Then Alaska could be a more reliable airline.