# Week 7 Assigment

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.notebook_repr_html', True) 
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None)

In [2]:
movies = pd.read_csv(r'c:\data\flixratings.csv',  index_col=0)

In [3]:
movies.head()

                          Samantha  Mary  John  Albert  Jeffrey  Julius
The Batman                     2.0   NaN   3.0     NaN      NaN     NaN
Turning Red                    4.0   NaN   5.0     NaN      2.0     4.0
The Adam Project               NaN   4.0   2.0     NaN      NaN     4.0
Spider-Man: No Way Home        5.0   1.0   3.0     NaN      NaN     1.0
Nightmare Alley                NaN   NaN   1.0     4.0      4.0     NaN

In [4]:
# Calculate the average by column
movies.mean()

Samantha    3.250000
Mary        3.000000
John        2.800000
Albert      3.500000
Jeffrey     2.666667
Julius      3.000000
dtype: float64

In [5]:
# Calculate the average by row
mean = pd.Series(movies.mean(axis=1))
mean

The Batman                  2.500000
Turning Red                 3.750000
The Adam Project            3.333333
Spider-Man: No Way Home     2.500000
Nightmare Alley             3.000000
Uncharted                   2.800000
dtype: float64

In [6]:
# Calculate the normalized ratings for each cell. And transpose the rows and columns
movies_norm = ((movies - movies.min()) / (movies.max() - movies.min())).transpose()
movies_norm

,The Batman,Turning Red,The Adam Project,Spider-Man: No Way Home,Nightmare Alley,Uncharted
Samantha,0.0,0.666667,NaN,1.0,NaN,0.000000
Mary,NaN,NaN,1.00,0.0,NaN,1.000000
John,0.5,1.000000,0.25,0.5,0.0,NaN
Albert,NaN,NaN,NaN,NaN,1.0,0.000000
Jeffrey,NaN,0.000000,NaN,NaN,1.0,0.000000
Julius,NaN,1.000000,1.00,0.0,NaN,0.666667

In [7]:
# Calculate the average of the normalized ratings by row.
movies_norm.mean(axis=1)

Samantha    0.416667
Mary        0.666667
John        0.450000
Albert      0.500000
Jeffrey     0.333333
Julius      0.666667
dtype: float64

In [8]:
# Calculate the average of the normalized ratings by column.
norm = pd.Series(movies_norm.mean())
norm

The Batman                  0.250000
Turning Red                 0.666667
The Adam Project            0.750000
Spider-Man: No Way Home     0.375000
Nightmare Alley             0.666667
Uncharted                   0.333333
dtype: float64

In [9]:
# create a dataframe with both the average and normalized series by movie.
movies_averages = pd.DataFrame({'mean':mean, 'norm':norm},mean.index)
movies_averages

                              mean      norm
The Batman                2.500000  0.250000
Turning Red               3.750000  0.666667
The Adam Project          3.333333  0.750000
Spider-Man: No Way Home   2.500000  0.375000
Nightmare Alley           3.000000  0.666667
Uncharted                 2.800000  0.333333

# Conclusion

Normalization simplifies the data in a more scalable manner. I can see that when I divide the minimum movies by the maximum movies and then subtract the minimum movies again, I get more readable data that can be easily interpreted.